<nav class="" style="background-color: aqua; height: 50px; padding: 10px;">
  <div class="nav" style="display: flex; align-items: baseline; justify-content: space-between;">
    <a href="#!" class="" style="max-width: 300px;">Logo</a>
    <form class="" >
      <div style="display: flex; width: 600px; padding: 0 20px;">
        <input id="search" type="search" style="width: 90%">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      </div>
      </form>
  </div>
</nav>
